<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
  <title>Book Recommendation</title>
</head>
<body>

  <nav>
    <div class="logo">
      <a href="/">Book Recommender</a>
    </div>
    <a href="/popularity/">Popularity</a>
    <a href="/content/">Content</a>
    <a href="/collaborative/">Collaborative</a>
  </nav>

  <div class="center-text">
    <h1>The new way</h1>
    <h1>to find the next book to read!</h1>
    <br>
    <br>
    <h1>Let AI help you discover the best</h1>
    <br>
    <h1>books for you...</h1>
  </div>

</body>
</html>
